.navbar{
  height: 7rem;
  padding: 15px;
  background-color: #ffffff;
}
nav{
  background-color: #ffffff;
}

/*NEW START*/
.news{
  font-family: 'Roboto', sans-serif;
  padding: 2% 5% 0 5%;
}

.newsdetails{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  gap: 3%;
  padding: 30px 0;
  margin: 5px 0;
}

.newsdetailsimg{
  width: 35%;

}
.newsdetailstext{
  width: 58%;
  text-align: left;
}

.newsdetailsimg img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*NEW END*/

/*ABOUT US START*/
.topmargin{
  margin: 7rem 0 0 0;
  height: 50rem;
  position: relative;
  /* border: 1px solid purple; */
}

.about1{
  height: 20rem;
  background-color:#ecebeb;
}
.about2{
  height: 13rem;
  background-color: #2f3de5;
}

.about3{
  position: absolute;
  z-index: 1;
  top: 0;
margin: 5% 10%;
  height: 50%;
  width: 80%;
  overflow: hidden;
  /* border-radius: 3%; */
  /* border: 10px solid red; */
}

.about3 img{
  width: 100%;
  height: 100%;
  object-fit: cover
}

.heroabouth1 h1{
font-size: 4.5rem;
font-weight:800;
}
.heroabouth1 p{
font-size: 1.5rem;
}

.heroabouth1{
  line-height: 40px;
  font-size: 1.5rem;
  background-color: #2f3de5;
  color:white; 
  text-align: center; 
  font-family: 'Roboto', sans-serif;
  padding: 20px 0; 
  /* font-weight: 600; */
  /* border: 2px solid blue;  */
}

/*ABOUT US END*/

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
.navlink{
  text-decoration:none;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  color: #89ba16;
  padding: 15px;
}

.navlink:hover{
  background-color: #89ba16;
  color: white;
}

.navbarimg {
  margin: 15px;
}
.navbarimg img {
  width: 6rem;
  margin: 15px 0 0 0;

}


.body1card{
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.body1card .card{
  align-items: center;
  justify-content: center;
  width: 16rem;
}


    .bg-gray{
      background-color: #f2f2f2;
    }
    .heroobj{
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 20px;
    }
    .heroobj1{
      text-align: center;
      position: relative;
      transition: transform .5s;
      margin: 3rem 2rem;
    }

    .heroobjimg img{
      width: 100%;
      height: 100%;
      object-fit:cover;
    }

    .heroobjimg{
      border-radius: 10%;
      width: 18rem;
      height: 250px;
      overflow: hidden;
      transition: transform 0.7s ease;
    }
.heroobjimg:hover{
      transform: scale(1.2);
    }    

    /*MANAGEMENT SECTION START*/

    .maspantxt{
      margin: 2.5% 0 0 0;
      line-height: 30px;
    }
    .mapicdiv span{
      text-align: left;      
    }
    .mapicdiv{
      display: flex;
      flex-direction: row;
      margin: 4% 2%;
      padding:2% 0;
      gap: 20px;
      font-family: 'Roboto', sans-serif;
      border: 1px solid rgb(230, 229, 229);
    }

    .mapicdivimg{
      width: 18rem;
      margin: 0 0 5px 0 ;
    }
    .mapicdiv h1{

      font-size: 1.5rem;
      font-weight: 800;
    }
    .mapicdiv h3{
      font-size: 1rem;
    }
    .mapicdiv img{
      width: 100%;
      height: auto;
    }
    .mgndiv{
      font-family: 'Noto Sans HK', sans-serif;
      font-weight: 500;
    }
    .mgndiv h1{
      font-size: 2.5rem;
      margin: 2rem 0;
      font-weight:bolder;
    }
     
    .mgnpic{
      width: 18rem;
    }

    .mgnpic img{
      width: 100%;
      height: auto;
      object-fit:cover;    
    } 

.mgntxt p{
  font-weight:400;
}

.mgntxt{
  height: 150px;  
  text-align: center;
}
    .mgntxt h3{
        font-size: 21px;
        font-weight: 900;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        margin:0 -10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mgn{
      text-align: center;
      position: relative;
      transition: transform .5s;
      margin: 1.2rem;
      height: 30%;
    }
    
    .mgngroup{
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 10px;
    }

        /*MANAGEMENT SECTION END*/


   
    .heroobjtxt{
      border: 2px solid gainsboro;
      background-color: white;
      position: absolute;
      height: 5rem;
      top: 14rem;
      left: 1.6rem;
      border-radius:calc(2% + 5px);
      width: 15rem;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;    
      font-size: 15px;
    }

.hero1{
  padding: 5% 4% 0;
  margin: 4rem 0 0 0;
}


.prodtxt span{
  margin: 0 1.5%;
  padding:15px;
}
.prodtxt img{
  width: 3rem;
}
.prodtxt{
  line-height: 40px;
  text-align: center; 
  top: 0;
}

.prodtxt h1{
  color: white;
  font-size: 6rem;
  font-family: 'Poppins', sans-serif;
  margin: 11rem 0 2rem 0;
}

.heroaboutimgdiv{
  width: 100%;
  height: 80vh;
  background-image: url('../src/components//images/hero101.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}


.prodiv p{
  font-size: clamp(15px, 1.3vw + 10px, 50px);
  font-family: 'Poppins', sans-serif;  
  margin:15px 0 0 0;
  padding: 1%;
  text-align: center;
}

.prodiv{
  margin: 110px 0 0 0;
  position: relative;
}


.prodimgdiv{
  width: 100%;
  height: 90vh;
}

.herofocusvid{
  width: 100%;
  height: 50vh;
}
.herofocusvid video{
  width: 100%;
  height: 50vh;
  object-fit: fill;
}

.prodimg{
  width: 100%;
  height: 100%;
}

.prodimgshadow{
  position: absolute;
  z-index: 1;
  background-color: #000;
  opacity: 80%;
  width: 100%;
  height: 90vh;
  top: 0;
}

.hero2{
  display: flex;
}
.hero3{
  width: 40%;
  color: #89ba16;
  padding: 0 10px
}
.hero3 h1{
  padding: 5px 0 0 0;
  color: #89ba16;
  font-size: clamp(3rem, 6vw, 15rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero4{
  width: 75%;
  margin-bottom: 5px;
}

.servdiv{
  padding: 2% 0;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #e9f9f7;
}


/*MISSION VISION DIV START*/


/*MISSION VISION DIV END*/

/*HERO FOCUS START*/

.herofocus, .herofocus1{
  padding: 2%;
  display: flex;
  /* background-color: whitesmoke; */
  /* position: relative; */
  /* height: 90vh; */
  /* justify-content: center;
  align-items: center; */
}

.herofocusshade{
  position: absolute;
  z-index: 1;
  top: 0;
  background-color: #000;
  opacity: 60%;
  width: 100%;
  height: 50vh;
}

.herofocustext{
    position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 70vh;  
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 1%;
}


.herofocusright{
  position: relative;
  width: 58%;
  height: 50vh;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.herofocusleft{
  margin:10px 0 0 0;
  padding:1% 2%;
  width: 48%;
  /* height: 45vh; */
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:left;
}

/*HERO FOCUS END*/



/*FOOTER START*/

footer{
  background-color: #17333d;
  height: 61vh;
  margin-bottom: -300px;
}

.footer{
  position: relative;  
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  color: white;
  
}

.footerdiv1 img{
  width: 40%;
  object-fit:fill;
}

.footerdiv1, .footerdiv2, .footerdiv3{
  margin: 1%;
  width: 29%;
  height: 50vh; 
  padding: 1%;
}

.footerdiv2 {
  padding-left: 105px;
  /* border: 1px solid red; */
}
.footerdiv2 div{
font-size: 1rem;
}


.footersubscribe{
  text-align: center;
}
.footersubscribe h1{
  color: #4a7d60;
  font-family: 'Anton', sans-serif;

}

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.footerbottom{
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;  
  text-align: center;
}

.footerbottom span{
  margin: 1px -15px 18px 0;
}

.footerbottom div{
  font-weight: 400;
  font-family: 'Anton', sans-serif;
  padding: 0 20px 17px 20px;
  font-size: 12px;
  letter-spacing: 3px;
  line-height: 23px;  
}

.footerbottom p{
  font-weight: 400;
  font-family: 'Anton', sans-serif;
  padding: 3px 20px;
  border-right: 1px solid gray;
  font-size: 12px;
  letter-spacing: 3px;
  line-height: 23px;
}

.footerdiv3 i{
  margin: 0 10px;
  text-align: center;
}

.footerdiv3 div{
  margin: 15px 0;
}


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
.footerdivheader{
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  /* text-align: center; */
}

.svg-icon {
  fill: #ffffff;
  margin: -5px 0 0 0;
}
/*FOOTER END*/

/*------------------*/
/*  SKEW CLOCKWISE  */
/*------------------*/
/* .skew-cc {
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0px;
  background: linear-gradient(to right bottom, #823a9c 49%, #fff 50%),
    linear-gradient(-50deg, #ffffff 16px, #000 0);
} */

/*-------------------------*/
/* SKEW COUNTER CLOCKWISE  */
/*-------------------------*/
/* .skew-c {
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0px;
  background: linear-gradient(to left bottom, #fff 49%, #823a9c 50%);
} */


.box, .box1{
  width: 100%;
  height: 28rem;
  display: flex;
  overflow: hidden;
  padding: 1rem 2rem;
  text-align: center;
}

.boximgdiv{
  width: 65%;
}
.boximgdiv img{
  width: 100%;
  height: 100%;
  object-fit:fill;
}
.boxtxt{
  padding: 5% 2%;
  background-color:black;
  width: 40%;
  color: white;
  justify-content: center;
  align-items: center;
}
.boxtxt div{
  margin: 0 0 30px 0;
  font-size: clamp( 1rem, 3vw, 7rem);
}
.boxtxt p{
  font-size: clamp( 1rem, 1.5vw, 5rem);
}

@media (max-width: 767.98px) {


  .herofocus{
    display: column;
    flex-direction: column;
  }
  
  .herofocusright{
    position: relative;
    width: 100%;
    height: auto;
    /* padding: 20px; */
    /* border: 1px solid blue; */
  }

  .herofocusshade{
    display: none;
  }

  .missiondiv{
    display: column;
    flex-direction: column;
  }


  .herofocusleft{
    padding:20px 0 0 0;
    height: 22vh;
    width: 100%;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    border: 1px solid rgb(239, 239, 239);
  }

  .herofocus1{
    display: column;
    flex-direction: column-reverse;    
  }

  .boxtxt div{
    margin: 5px 0;
    font-size: clamp( 1.8rem, 1.5vw, 3.5rem);
  }
  .boximgdiv{
    width: 100%;
    height: 65%;
  }

  .boximgdiv img{
    width: 100%;
    height: 100%;
    object-fit:fill;
  }

  .box{
    display: column;
    flex-direction: column;
    height: 32rem;
    margin: 2px 0;
  }

  .box1{
    display: column;
    flex-direction:column-reverse;
    height:32rem;
    border: 3px solid purple;
  }


  .boxtxt{
    width: 100%;
    height: 34%;
    padding: 2%;
  }

  .boxtxt p{
    font-size: clamp( 1.1rem, 1.5vw, 3.5rem);
  }

    .hero3{
      width: 100%;
    }
    .hero4{
      width: 100%;
    }
        
      }



@media (max-width: 991.98px) {

  .newsdetails{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: column;
    flex-direction: column;
    padding: 30px 0;
    margin: 5px 0;
  }

  .newsdetailsimg{
    width: 100%;
    margin-bottom: 5%;  
  }
  .newsdetailstext{
    width: 100%;
    text-align: center;
  }
  
  .newsdetailsimg img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }


  .maspe{
    margin: 0 80px;
  }

  .maspantxt{
    margin:-2% 0 0 0;
  }

  .mapicdiv, .mapicdivimg, .maspantxt{
    display: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mapicdiv span{
    text-align: center;
  }

  .mapicdiv{
    margin: 5% 3%;
    padding:2%;
    border: 1px solid rgb(226, 225, 225)
  }

  .topmargin{
    margin: 7rem 0 0 0;
    height: 45rem;
    border: none;
    position: relative;
  }

  .about2{
    height: 10rem;
    /* border: 1px solid red; */
  }

  .heroabouth1 h1{
    font-size: 2.5rem;
    font-weight:800;
    }
  .heroabouth1 p{
    font-size: 1rem;
    /* font-weight:800; */
    padding: 0 10px;
    }

    .heroabouth1{
      /* line-height: 0px; */
      /* font-size: 1.5rem; */
      padding: 5px 0; 
      /* font-weight: 600; */
      /* border: 2px solid blue;  */
    }

.missiondiv{
    display: column;
    flex-direction: column;
  }

  .missiondivp{
    margin:15px;
  }

  footer{
    height: auto;
  }

  .herofocusleft{
    /* padding:10px 5px 0 15px;
    height: 42vh;
    width: 100%; */
    font-size: 1.3rem;
    /* border: 1px solid red; */
  }

  .navbarimg img{
    width: 4rem;
    margin: 5px 0 0 0;
  }

  .footerdiv1, .footerdiv2, .footerdiv3{
    display:none;
  }
  

  .hero2{
    display:column;
    flex-direction: column-reverse;
    margin-top: 40px;
    text-align: center;
  }
  .hero3, .hero4{
    width: 100%;
  }
  .hero4{
    display: flex;
    justify-content: center;
    align-items:center;
  }
}


.prodimgdiv video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/*======================
    404 page
=======================*/


.nopage{
  padding: 0 20%;
}

/*======================
    404 page
=======================*/

.page_404 {
  width: 70vw;
  padding: 35px 0;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}

@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
.contactusdiv{
  /* display: flex;
  justify-content: center;
  text-align: center; */
  padding: 1%;
}

.contactusp{
  font-family: 'Kanit', sans-serif;
  font-size: clamp(10px, 1.3rem, 4rem);
}

.contactusdeets, .contactusp{
  width: 48%;
  border: 2px solid red;
}

.contactusdeets{
  color: white;
  background-color: red;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  padding-bottom: 100px;
}

#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px "Oswald", sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px ;
  position: relative;
  max-width: 940px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: "Lato";
  font-weight: 400;
}

.form-control,
textarea {
  max-width: 400px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all 0.2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px "Lato", sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 600px;
  /* border: 1px solid red; */
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  /* margin-left: -30px; */
  padding-right: 20px;
}


.list-item {
  /* line-height: 4; */
  color: #aaa;
  width: 40vw;
}

.contact-text {
  font: 300 18px "Lato", sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
  margin-top: -10px;
}

.place {
  margin: 6px 0 0 32px;

}

.phone {
  margin-left: 30px;
}

.gmail {
  margin-left: 33px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}

/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27, 27, 27);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff;
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px "Oswald", sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255, 255, 255, 0.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container,
  .form-horizontal {
    margin: 0 auto;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {
  .direct-contact-container,
  .form-wrapper {
    float: none;
    margin: 0 auto;
  }
  .form-control,
  textarea {
    margin: 0 auto;
  }

  .name,
  .email,
  textarea {
    width: 280px;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 380px;
  }
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}

.someli{
  color: #fff;
  background-color: #1E3050;
  margin: 0 10px;
}

/*RECYCLE START*/
.recycle{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 2%;
}

.recycle .recyclecard{
  width: 18rem;
}

.recyclecard img{
  /* width: 90%; */
  height: 45vh;
  object-fit: fill;
}
/*RECYCLE END*/

/*MISSION VISION DIV START*/
.mission{
  text-align: center;
  padding:1% 4%;
  background-color: rgb(236, 235, 235);
  margin: 30px 0;
}

.missiondiv{
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 3%;
  margin: 20px 0;
}
.missiondiv img{
  width: 12rem;
  padding: 10px;
}
.missiondivp{
  padding:20px;
  width: 25rem;
  height: 28rem;
  background-color: white;
  /* border: 1px solid blue; */
}

.missiondivp p{
  font-family: 'Anton', sans-serif;
}
.missiondivp span{
  font-family: 'Roboto', sans-serif;
}

.visiondiv{

}
/*MISSION VISION DIV END*/